
logo-color {
    color: #5914c9
}

index-img {
    background-image: url('https://static.vecteezy.com/system/resources/previews/006/852/804/original/abstract-blue-background-simple-design-for-your-website-free-vector.jpg');
    filter: blur(4px);
}

/* Set the font family and size for the text */
body, input, textarea {
    font-family: Arial, sans-serif;
    font-size: 16px;
}
  
  /* Set the width of the form */
  form {
    width: 80%;
    margin: 0 auto;
  }
  
  /* Style the title input field */
  input[name="title"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  /* Style the image input field */
  .input-group input[type="file"] {
    display: none;
  }
  
  .input-group .input-btn {
    display: inline-block;
    cursor: pointer;
    background-color: #337ab7;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  /* Style the content textarea */
  textarea[name="content"] {
    width: 100%;
    height: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  /* Style the publish button */
  input[name="Submit"] {
    background-color: #337ab7;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }