{% extends 'base.html' %}

{% block title %}<title>About Page</title>{% endblock %}


{% block body %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="style.css">
</head>
<body>
  

    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>About Us</h2>
                    <p>We are a team of students and our goal is to assist other students in learning faster by sharing information and becoming more knowledgeable and time-efficient in order to increase the overall return on educational investment. By giving students a place to exchange knowledge and information, the app we are developing hopes to enhance student learning results. The intention is to build a community where students can work together and assist one another as they pursue their education, eventually enhancing their knowledge and improving their academic performance. </p>
                </div>
                <div class="col-md-6">
                    <img src="https://via.placeholder.com/500" alt="Team" class="img-fluid">
                </div>
            </div>
        </div>
    </section>

    <!-- Services Section -->
    <section id="mission">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Our Mission</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">goals</h5>
                            <p class="card-text">We are aware that a lot of students struggle with learning due to a variety of factors, such as time limitations, trouble obtaining pertinent information, and a dearth of support and responsibility. By offering a concentrated site where students can interact with one another, exchange resources and study materials, and participate, our app is made to handle these problems.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">How we can help</h5>
                            <p class="card-text">Students will use this platform in order to gain better insight about the topic they are studying. They will also use this platform in order to ask questions, review topics of their choosing and prepare for upcoming assessments. This platform can not only be used for state-level assessments, but also for international assessments such as the SAT, ACT, MCAT, and etc.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Meet The Team!</h5>
                            <p class="card-text"> Teandra, Ashari, Saina, Cnaiya, Jenna, Austin </p>






{% endblock %}






