{% extends 'base.html' %}
<style>
    .buttons {
        background-color: cadetblue;
        width: 100%;
        text-align: center;
    }
</style>

{% block title %}<title>About Page</title>{% endblock %}


{% block body %}
<h1>About Us Page</h1> 

<div class="about">
    <div class="text">
      <h2>About Us</h2>
      <h5>Class <span>Student</span></h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita natus ad sed harum itaque ullam enim quas, veniam accusantium, quia animi id eos adipisci iusto molestias asperiores explicabo cum vero atque amet corporis! Soluta illum facere consequuntur magni. Ullam dolorem repudiandae cumque voluptate consequatur consectetur, eos provident necessitatibus reiciendis corrupti!</p>
      <div class="data">
      </div>
    </div>
  </div>

  <div class = "buttons">
    <button type="button" class="btn tbn-outline-info btn-lg">subject</button>
  </div>






{% endblock %}






