{% extends 'base.html' %}

{% block title %}<title>Home Page</title>{% endblock %}

{% block body %} 
    <!-- Header - set the background image for the header in the line below-->
    <header class="py-5 bg-image-full index-img">
        <div class="text-center my-5">
            <img class="img-fluid rounded-circle mb-4" src="..\static\images\Homework Hero-logos_transparent.png" alt="Homework Hero Logo" width="400px" />
            <h1 class="text-white fs-3 fw-bolder">Welcome To Homework<span class = "logo-color">Hero</span></h1>
            <p class="text-white-50 mb-0">Be a hero in the classroom with HomeworkHero</p>
        </div>
    </header>
    <!-- Content section-->
    <section class="py-5">
        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h2>Become a HomeworkHero</h2>
                    <p class="lead">Do you have what it takes to become a HomeworkHero?</p>
                    <p class="mb-0">
                        Welcome to HomeworkHero, the academic superpower that saves the day with expert homework help. We understand that homework 
                        can be a challenge, and that's why we're here to help you conquer your academic hurdles. Our platform allows users to post 
                        homework questions and get help from a community of experts and other users. Whether you're struggling with math, science, 
                        history, or any other subject, we've got you covered. 
                        <br>
                        <br>
                        Our platform is designed to provide you with personalized assistance, quick answers, and in-depth explanations. 
                        At HomeworkHero, we believe that every student has the potential to be a hero in 
                        the classroom. That's why we're committed to helping you reach your academic goals and achieve your full potential. Our 
                        platform is easy to use, and our community is dedicated to providing high-quality assistance to students of all ages and levels.
                        <br>
                        <br>
                        So, don't stress about homework anymore - post your question on HomeworkHero and let our community be your academic hero. With our 
                        help, you'll be able to tackle any assignment and excel in school. Join our community today and start getting the homework help you 
                        need to succeed.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Image element - set the background image for the header in the line below-->
    <div class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/4ulffa6qoKA/1200x800')">
        <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
        <div style="height: 20rem"></div>
    </div>
    <!-- Content section-->
    <section class="py-5">
        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h2>Engaging Background Images</h2>
                    <p class="lead">The background images used in this template are sourced from Unsplash and are open source and free to use.</p>
                    <p class="mb-0">I can't tell you how many people say they were turned off from science because of a science teacher that completely sucked out all the inspiration and enthusiasm they had for the course.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}