{% extends 'base.html' %}

{% block title %}<title>{Posts Page}</title>{% endblock %}
<head> 
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
    {% block body %} 
    <div>
      <form action="/create" method="post">
          <label for="title">Title:</label><br>
          <input type="text" id="title" name="title" required><br>

          <label for="subject">Subject:</label><br>
          
          <input type="radio" id="MATH" name="subject" value="math">
          <label for="math">Math</label><br>

          <input type="radio" id="SCIENCE" name="subject" value="science">
          <label for="science">Science</label><br>

          <input type="radio" id="ENGLISH" name="subject" value="english">
          <label for="english">English</label>

          <input type="radio" id="HISTORY" name="subject" value="history">
          <label for="history">History</label><br>

          <input type="radio" id="SCIENCE" name="subject" value="science">
          <label for="science">Science</label><br>

          <input type="radio" id="COMPUTERSCIENCE" name="subject" value="computerscience">
          <label for="computerscience">Computer Science</label>

          <input type="radio" id="ARTS" name="subject" value="arts">
          <label for="arts">Arts</label>

          <input type="radio" id="OTHER" name="subject" value="other">
          <label for="other">Other</label>

          <label for="content">Content:</label><br>
          <input type="text" id="content" name="content" required><br>
          <br>
          <input type="submit" value="Submit">
      </form>
  </div>
{% endblock %}