{% extends 'base.html' %}

{% block title %}<title>{Posts Page}</title>{% endblock %}
<head> 
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
    {% block body %} 
    <div class = 'container'>

      <div class="text-center py-5">
        <h1>Create a Post Below</h1>
      </div>
      
      <form action="/post" method="POST">
          <label for="title" class = "form-label">Name:</label>
          <input type="text" id="author" name="author" class = "form-control" required>

          <br>

          <label for="title" class = "form-label">Title:</label>
          <input type="text" id="title" name="title" class = "form-control" required>
          
          <br>

          <label for="content" class = "form-label">Content:</label>
          <textarea type="text" id="content" name="content" class = "form-control" required></textarea>

          <br>

          <label for="category" class = "form-label">Category:</label>
          <select name = "category" class="form-control form-select-lg mb-3" aria-label="Default select example" required>
            <option selected value="1212">1212</option>
            <option value="1213">1213</option>
            <option value="2214">2214</option>
            <option value="3155">3155</option>
          </select>

          <br>
          
          <div class="text-center py-5">
            <button type="submit" class = "btn btn-primary">Submit</button>
          </div>
          
      </form>
  </div>
{% endblock %}