{% extends 'base.html' %}

{% block title %}<title>{Posts Page}</title>{% endblock %}
<head> 
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
    {% block body %} 
    <div>
      <form action="/create" method="post">
          <label for="title">Title:</label><br>
          <input type="text" id="title" name="title" required><br>
          
          <form action="#">
            <label for="subject">Subject:</label>
            <select name="subjects" id="subject">
              <option value="math">Math</option>
              <option value="science">Science</option>
              <option value="english">English</option>
              <option value="history">History</option>
              <option value="cs">Computer Science</option>
              <option value="arts">Arts</option>
              <option value="other">Other</option>
            </select>
            <input type="submit" value="Submit" />
      </form>

          <label for="content">Content:</label><br>
          <input type="text" id="content" name="content" required><br>
          <br>
          <input type="submit" value="Submit">
      </form>
  </div>
{% endblock %}