{% extends 'base.html' %}
<style>
    .buttons {
        width: 200%;
    }
</style>
{% block title %}
Search Page
{% endblock %}

{% block body %}
<form action="{{url_for('search')}}" method="POST">
    <div class="input-group">
        <input type="text" name='query' class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
        <button type="submit" class="btn btn-outline-primary">search</button>
    </div>
</form>
<br>
<div class="buttons">
    <button type="button" class="btn tbn-outline-info btn-lg">MATH</button>
    <button type="button" class="btn tbn-outline-info btn-lg">SCIENCE</button>
    <button type="button" class="btn tbn-outline-info btn-lg">ENGLISH</button>
    <button type="button" class="btn tbn-outline-info btn-lg">HISTORY</button>
    <button type="button" class="btn tbn-outline-info btn-lg">COMPUTER SCIENCE</button>
    <button type="button" class="btn tbn-outline-info btn-lg">ARTS</button>
</div>
{% end block%}
